workspace/addition/src/main/app/addition.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="additionFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/value" allowedMethods="POST" doc:name="HTTP"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <scripting:transformer doc:name="JavaScript">
            <scripting:script engine="JavaScript"><![CDATA[var list = eval(payload);
var a = eval('(' + payload + ')');
                for (var i = 0, sum = 0; i < a.length; sum += a[i++]);
                message.setPayload(sum + "");
                result = message]]></scripting:script>
        </scripting:transformer>
        <set-payload value="sum is : #[payload]" doc:name="Set Payload"/>
        <logger message="Sum is : #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
