workspace/httprequestresponse/src/main/app/httprequestresponse.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Request_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="httprequestresponseFlow">
        <http:listener config-ref="HTTP_Request_Configuration" path="/*"  doc:name="HTTP">
            <http:response-builder>
                <http:header headerName="name" value="#[message.inboundProperties.http.uriparams.name]"/>
            </http:response-builder>
        </http:listener>
		<set-payload value="#[message.inboundProperties.'http.uri.params'.name]" doc:name="Set Payload"  mimeType="text/plain"/>
        <logger message="#[message.inboundProperties.'http.uri.params'.name]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
